body{
  margin: 7pt;
}
 button {
      background-color: cornflowerblue;
      border-radius: 10pt;
      color: white;
      width: 50pt;
      height: 25pt;
      
    }
    #Night {
      background-color: black;
      border-color: grey;
      color: white;
      inline-size: 50pt;
      height: 50pt;
      border-radius: 5pt;
    }
    #Light {
      background-color: white;
      border-color: black;
      color: black;
      inline-size: 50pt;
      height: 50pt;
      border-radius: 5pt;
    }
    button {
      transition: transform 0.3s ease;
    }
    button:hover {
      transform: scale(1.1);
    }