body{
  margin: 25pt;
}
 button {
      background-color: cornflowerblue;
      border-radius: 10pt;
      border-color: black;
      
    }
    #Night {
      background-color: black;
      border-color: grey;
      color: white;
      inline-size: 50pt;
      height: 50pt;
      border-radius: 5pt;
    }
    #Light {
      background-color: white;
      border-color: black;
      inline-size: 50pt;
      height: 50pt;
      border-radius: 5pt;
    }